//- layout.pug
doctype html
html
  head
    title Harry dance academy
    block style 
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/img/dance_girl2.png")
                | HDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/contact") Contact us]  
            //- it is the main thing where we can change the 
    block content
        
    footer#footer 
        | Copyright © 2019 HarryDanceAcademy.com  |  All rights reserved