
<%- include("header") -%>
<h2>This is about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta sapiente, laborum molestias id dolorem nemo quibusdam, nihil quasi est, facere vero iusto natus soluta itaque. Quisquam est, et sit dolore magni veritatis expedita doloremque perspiciatis numquam labore tenetur obcaecati repellendus, ipsa eveniet pariatur architecto soluta ad, minima consectetur veniam quis quod sint dolorum? Esse, error soluta.</p>

<%- include("footer") -%>