<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>to do list</title>
</head>
<body>
    <% if(kindofday==="weekend"){ %>
        <h1 style="color: blue;">T<%= kindofday %> </h1>
        <%  } else{ %>
        <h1 style="color: green;"> <%= kindofday %> </h1>
        <%  }  %>
        <ul>
            <li>Buy food</li>
            <li>cook the food</li>
            <li>eat the food</li>
            <li><%= newItem %></li>
        </ul>
        <form action="/" method="post">
            <input type="text" id="todo" name="newItem">
            <button type="submit">click</button>
        </form>
  
</body>
</html>