<%- include("partials/header")-%>


<div class="contact-detail__wrapper" style="margin:50px ;">
    <div class="contact-detail__inner inner" style="margin: 10px;">
    <header class="contact-detail__header">
    <h1 class="contact-detail__title">
    Contact us </h1>
    </header>
    <div class="contact-detail__content blocks" style="margin: 10px;">
    <p>crypto.news is a leading publication media resource in the cryptocurrency industry and, as such, holds editorial independence and journalistic integrity in the highest regard. Being a reputable publication in the emerging technologies space, crypto.news strives for fair, honest, and accurate reportage, devoid of any bias and influence.</p>
    <p>While crypto.news does accept advertising money, we will not allow our advertisers to dictate the tone, scope, or topics of our content and news stories. Any sponsored stories (articles that have been paid for by advertisers) will always be clearly noted and attributed.</p>
    <p>At crypto.news, we are committed to providing you with the information you need to be successful in the rapidly emerging digital assets space. Our readers can safely rely on crypto.news to stay up to date with the latest developments in the crypto industry.</p>
    <p>Amongst other content, we publish:</p>
    <ul><li>Daily news articles that offer accurate, succinct, and timely information about developments and innovations in the digital assets space</li><li>Concept articles on all things DeFi, NFT, and Metaverse to help our new readers understand the jargon of the crypto industry</li><li>Op-eds, and long-form educational content pieces to help the readers understand complex topics in simple terms</li><li>Accurate, most up to date information about new products, services, protocols, and companies in the digital assets landscape</li><li>Regular updates regarding crypto exchange platforms and all cryptocurrency prices.</li></ul>
    <p>crypto.news is excited to be a part of your, our readers’, journey in the crypto industry. The team at crypto.news consists of crypto journalists with years of experience under their belt and industry repute. crypto.news is committed to bringing the most accurate and trusted crypto – including DeFi, NFT, and Metaverse – news available, as we all work toward our financial goals.</p>
    <p>We look forward to hearing about your experience with crypto.news – please send us your comments and suggestions!</p>
     </div>
    </div>
    </div>



    <div class="container bg-light" style="display:flex;flex-direction: column;justify-content: center;align-items: center;">
      <h1 style="padding: 20px;">Reach us</h1>
      <input type="email" name="" id="" placeholder="EMAIL" style="width: 50%;margin: 20px;">
      <input type="text" placeholder="SUBJECT" style="width: 50%;margin: 20px;">
     <button type="submit" style="width: 10%;margin: 20px;">SUBMIT</button>
    </div>

<%- include("partials/footer")-%>