<h1>Upload your pdf file here ha ha</h1>
<form action="/getfile" method="post">
    <label for="myfile">Select a file:</label>
    <input type="file" id="myfile" name="myfile"><br><br>
    <input type="submit">
</form>

<!-- <embed src="/" width="800px" height="2100px" /> To embedd in html ha ha good rather then iframe nice-->