<%- include("partials/header")-%>

<div class="main" style="display:flex;flex-direction: column;justify-content: center;align-items: center;margin: 25px 0;">
    <div class="glossaryHeading">
        <h2>Glossary (from finder)</h2>
    </div>
    
    <iframe style="border:5px dotted indigo ;" src="https://www.finder.com/in/cryptocurrency-glossary" width="80%" height="500px" title="W3Schools Free Online Web Tutorials"></iframe>
  
</div>

<%- include("partials/footer")-%>