<%- include("partials/header")-%>

<h1 style="margin:20px auto;text-align:center;">Youtube Courses For Beginners</h1>

<div class="youtubeCourses">
    <div class="youtubeCourse">
        <div class="youtubeCourseTitle">
            <h1>Ankur Warikoo</h1>
        </div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLLbfvOX935JGL9iLrMavyva8Rad0yW5cO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="youtubeCourse">
        <h1>SimplyLearn</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/dgjZ2fHg4y4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>





<%- include("partials/footer")-%>