*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.box{
    /* margin: 50px; */
    height: 100px;
    width: 100px;
    border: 1.5px solid rgb(177, 161, 193);
    animation-name: RotateAndMoveUp;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in-out;
    animation-direction:normal;
    
}

#box1{
    animation-delay: .5s;
}
#box2{
    animation-delay: 1s;
}
#box3{
    animation-delay: 1.5s;
    
}

#box4{
    animation-delay: 3s;
}
#box5{
    animation-delay: 3.5s;
}

.wrapperClass{
    height: 100vh;
    width: 150px;
    align-items: center;

}
#WC1{
    padding-left: 50px;
}
#WC2{
    padding-left: 50px;
    display: flex;
    align-items: flex-end;
}
.mainAnimationBody{
    background-color: navy;
    display: flex;
    justify-content: space-between;
   
}

@keyframes RotateAndMoveUp {
    from{
     opacity: 0;
     width: 0px;
     height: 0px;
    }
    50%{
    opacity: .8;
    }
    75%{
        opacity: .1;
    }
    to{
    opacity: 0;
    transform: rotate(400deg); 
    /* here make random degrees to rotate with  */
    }
}
