.part2boxes{
    background-color: rgb(73, 73, 58);
    /* display: flex; */
    flex-wrap: wrap;
    display: flex;
    position: relative;
    top: 105px;
    z-index: -0;
}

.part2box{
    width: 23%;
    background-color: rgb(19, 16, 16);
    height: 320px;
    display: block;
    margin: 1%;
}
.part2boximage{
    width: 100%;
    height: 65%;
    background-color: yellow;
}
.part2boxstuff{
    height: 20%;
    background-color: rgb(141, 93, 93);
}
