<html>
    <head>
        <title>Just trying</title>
        style 
            include ../style/index.css
    </head>
    <body>
        <div class="nav">
            <ul>
                <li class="items">Home</li>
                <li class="items">About</li>
                <li class="items">Contact me</li>
            </ul>
        </div>

        <div class="part1">
            <div class="in11">
                <h1>Hello Coders</h1>
                <h1> I am ketan Rathod </h1>
                <h2>Computer science student</h2>
            </div>
            <div class="in12">
                <h1>This is what i am doing</h1>
            </div>
        </div>
        
    </body>
</html>