<html>
    <head>
        <title>This is by using pug</title>
        style
            include ../style.css
    </head>
    <body>
        <h1>Input Form</h1>
        <form action="/" method="post" id="contact">
            <input type="text" name="name" id="name" placeholder="enter your name">
            <input type="text" name="address" id="address" placeholder="enter your address">
            <input type="mobile" name="mobile" id="mobile" placeholder="enter your mob. no.">
            <button class="btn">Submit</button>
        </form>
    </body>
</html>