:root{
    --c1 : navy;
    --c2 : blue;
    --c3:white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav ul{
    display: flex;
    color: var(--c3);
    background-image: linear-gradient(to right, var(--c1), rgb(179, 179, 161));
    list-style: none;
}
.nav ul li{
    padding: 1vh 5vw;
}


.part1{
    /* height: 50vh; */
    /* background-image: linear-gradient(to left,var(--c1),rgb(255, 255, 255)); */
}

.in11 h1{
    /* height: 40vh; */
    color: rgb(236, 0, 0);
}