nav{
    background-color: navy;
    height: 10vh;
    color: whitesmoke;
    font-size: 40px;
    text-align: center;
}
body{
    height: 100vh;
    background: linear-gradient(14deg, #d2c220, transparent);
}
.container{
    max-width: 955px;
     /* // to make it to center */
    /* background-color: red; */
    border: 2px solid red;
    margin: auto;
    height: 70vh;
    padding: 33px;
    overflow-y: auto;
}
.message{
    padding: 7px;
    background-color: rgb(228, 213, 213);
    border: 2px solid green;
    border-radius: 10px;

}
.left{
    float: left;
    clear: both;
}
.right{
    float: right;
    clear: both;
}

#send-container{
    display: block;
    margin: auto;
   text-align: center; 
   /* howwww */
   max-width: 980px;
   width: 100%;
}

#messageInp{
width: 92%;
border: 2px solid red;
border-radius: 10px;
height: 34px;
}

.btn{
    height: 34px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
}