h1{
    text-align: center;
    color: navy;
    background-color: darkgrey;
}
input{
    margin: auto;
    display: block;
    padding: 7px 0px;
    margin: 50px auto;
    width: 400px;
}
button{
    padding: 7px 40px;
    margin: 30px auto;
    display: block;
}