

    <!-- For demo purpose -->
    <!-- <div class="container-fluid flex-grow-1 flex-shrink-0">
      <div class="px-lg-5">
        <div class="row py-5">
          <div class="col-lg-12 mx-auto text-white text-center">
            <h1 class="display-4">Bootstrap 4 footer</h1>
            <p class="lead mb-0">Build a nicely styled light footer using Bootstrap 4.</p>
            <p class="lead">Snippet by <a href="https://bootstrapious.com/snippets" class="text-white">
                          <u>Bootstrapious</u></a>
            </p>
          </div>
        </div>
      </div>
    </div>
    End -->
  
  
    <!-- Footer -->
    <footer style="background-color: #053b6c!important;;">
      <div class="container py-5">
        <div class="row py-4">
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <p class="font-italic" style="color: white;">Lorem ipsum dolor sit amet, consectetur adipisicing elit,Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus tempora facere quo ipsum beatae? Iste, unde aliquam? Nisi, recusandae! Beatae? sed do eiusmod tempor incididunt.</p>
           
          </div>
          <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
            <h6 class="text-uppercase font-weight-bold mb-4" style="color: white;">CryptoNews</h6>
            <ul class="list-unstyled mb-0">
              <li class="mb-2 " ><a href="/news" class="text-muted">news</a></li>
              <li class="mb-2"><a href="/marketCap" class="text-muted">market cap</a></li>
              <li class="mb-2"><a href="#" class="text-muted">free bitcoins</a></li>
              <li class="mb-2"><a href="#" class="text-muted">buy crypto</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
            <h6 class="text-uppercase font-weight-bold mb-4"  style="color: white;">info</h6>
            <ul class="list-unstyled mb-0">
              <li class="mb-2"><a href="#" class="text-muted">bitcoin</a></li>
              <li class="mb-2"><a href="#" class="text-muted">etherium</a></li>
              <li class="mb-2"><a href="#" class="text-muted">blockchain</a></li>
              <li class="mb-2"><a href="#" class="text-muted">defi</a></li>
              <li class="mb-2"><a href="#" class="text-muted">defi</a></li>
              <li class="mb-2"><a href="#" class="text-muted">defi</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-6 mb-lg-0">
            <h6 class="text-uppercase font-weight-bold mb-4"  style="color: white;">Newsletter</h6>
            <p class="text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At itaque temporibus.</p>
            <div class="p-1 rounded border">
              <div class="input-group">
               <form action="/email" method="post">
                <input type="email" name="email" placeholder="Enter your email address" aria-describedby="button-addon1" class="form-control border-0 shadow-0">
                
                  <button id="button-addon1" type="submit" class="btn btn-link"><i class="fa fa-paper-plane">SUBMIT</i></button>
               
               </form>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Copyrights -->
      <div class="bg-light py-4">
        <div class="container text-center">
          <p class="text-muted mb-0 py-2">© 2021 CryptoNews All rights reserved.</p>
        </div>
      </div>
    </footer>
    <!-- End -->
  
