<%- include('partials/header') -%>
<h1>Home</h1>
<p>
<%=  part1 %>
</p>
<p>   
    <% for(i=0;i<part2.length;i++){ %>
    <% console.log(part2[i].title) %>
    <% } %>
</p>

<%- include('partials/footer') -%>